$skyColor: #9BE2FF;
$brightColor: #1C8DFF;
$notSoBrightColor: #1767b8;
$backColor: #085098;
$darkColor: #00366C;
$darkerDarkColor: #041f3a;
$darkestColor: #062a4e;
$darkerDarkestColor: #001B36;
$textColor: #c6e3ff;