$skyColor: #9BE2FF;
$brightColor: #1C8DFF;
$darkColor: #00366C;
$darkestColor: #001B36;
$textColor: #C6E3FF;
$evenDarkerColor: #041f3a;

.root {

    & > div {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;

        & > i {
            font-size: .5em;
            margin: 0 .5em;
            color: $brightColor;
            vertical-align: middle;
        }
    }
}