$textColor: #C6E3FF;
$darkestColor: #001B36;
$brightColor: #1C8DFF;

.footer {
    background-color: $darkestColor;
    font-family: 'Lato', sans-serif;
    color: $textColor;

    & > img {
        width: 100%;
        height: auto;
        image-rendering: pixelated;
    }
    
    & > div {
        padding: 1em;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        box-sizing: border-box;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            width: 100%;
            padding: 1em;
            
            & > div {
                &:first-child {
                    margin-bottom: .5em;
                }
            }
        }

        & > div {
            & > a {
                display: inline-block;
                font-size: 1.8em;
                color: inherit;
                transition: .2s ease;
                margin: 0 5px;

                &:first-child {
                    margin-left: 0;
                }
    
                &:last-child {
                    margin-right: 0;
                }
    
                &:hover {
                    color: $brightColor !important;
                    transform: scale(1.1);
                }
            }
        }
    }
}